.header-style {
  overflow: hidden;
  // background-color: #fff;
  padding: 10px 10px 0px;
  margin-top: 58lpx;
  display: flex;
  margin-bottom: 1rem;
}

.head_left {
  width: 95%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.font-style {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  margin: 10px 10px 0;
}
.custom-card {
  margin: 15px;
  border-radius: 4px; /* Rounded corners */
  overflow: hidden; /* Ensure content does not protrude beyond the rounded corners */
}
mat-card[_ngcontent-ng-c2924176444] {
  box-shadow: none !important;
  border-radius: 4px;
  background: rgba(38, 208, 29, 0.0509803922);
  border: rgba(66, 66, 66, 0.2588235294) solid 1px;
  
}
// mat-paginator{
//   box-shadow: none !important;
//   border-radius: 4px;
//   background: #26d01d0d;
//   border: #42424242 solid 1px;
//   color: white;
// }
.mat-mdc-select-value-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: initial;
}
.btn-primary {
  background-color: #f8f9fa;
  border: 1px solid green;
  border-radius: 0.6em;
  color: green;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  font-size: 1rem;
}

.btn-primary:hover {
  color: #fff;
  background-color: green;
  border-color: green;
}

.noData-style {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
}

table {
  width: 100%;
}

// .mat-header-cell {
//   color: #212529;
//   font-weight: 900;
//  // padding: 1rem 0.75rem;
//   font-size: 1.07rem;
//   font-family: initial;
//   text-align: center !important;
//   background-color: rgb(0 128 0 / 78%);
//   color: #fff;
// }

// .mat-cell,
// .mat-footer-cell {
//   color: #272b41;
//   font-family: 'Times New Roman', Times, serif;
//   font-size: 0.9375rem;
//   text-align: center !important;
//   font-weight: 400;
//   padding: 5px;
// }
.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 16px 0 16px;
  font-family: initial;
  font-size: 1rem;
}
.mdc-data-table__header-cell {
border-bottom-width: var(--mat-table-row-item-outline-width, 1px);
border-bottom-style: solid;
line-height: inherit;
font-weight: 800;
font-size: 1.2rem; 
color: white;
}
.mat-mdc-table .mat-mdc-header-cell {
background: green; 
color: white;
}
mat-card {
  box-shadow: none !important;
  border-radius: 4px;
  border: #dee2e6 solid 1px;
  background: rgba(38, 208, 29, 0.0509803922);
  border: rgba(66, 66, 66, 0.2588235294) solid 1px;

}


mat-card.mat-card.mat-focus-indicator.ng-star-inserted {
  border: none;
}

mat-row.mat-row.cdk-row.ng-star-inserted:hover {
  background: #e5f6fb;
}
.mainLoginInput{
  height: 40px;
  width: 90%;
  padding: 0;
  font-size: 17px;
  margin: 5px 0;
  opacity: 0.5;
  border-radius: 10px;
  font-family: initial;
}
.mainLoginInput::-webkit-input-placeholder { 
font-family: FontAwesome;
padding-left: 15px;
padding-top: 2px;
color:black;
}
.searchbutton{
  padding: 0px;
  font-size: 31px;
  font-weight: 900;
}
.matcard-bg-color {
  box-shadow: none !important;
  border-radius: 2px;
  border: #c8d4e2 solid 1px;
  background: rgba(38, 208, 29, 0.0509803922);
}
.mat-paginator-page-size-label {
  margin: 0 4px;
  font-family: initial;
  font-size: 12px;
  font-weight: 900;
}
.mat-select-value-text {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 900;
  overflow: hidden;
  text-overflow: ellipsis;
}
.loader {
  transform: translateZ(1px);
}
.loader:after {
  content: '$';
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-align: center;
  line-height:40px;
  font-size: 32px;
  font-weight: bold;
  background: #FFD700;
  color: #DAA520;
  border: 4px double ;
  box-sizing: border-box;
  box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, .1);
  animation: coin-flip 4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes coin-flip {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
::ng-deep.cdk-overlay-dark-backdrop {
  background: rgb(0 0 0 / 69%);
}