
<mat-toolbar  class="example-toolbar" [ngClass]="{'dark-mode': isDarkMode}">
    <button mat-icon-button>
        <mat-icon  style="background-image: url('../../../assets/image/HMS-logo.png');  background-repeat: no-repeat;
		 background-position: left;background-size: 45px; padding-left: 3.2rem;padding-top: 5px;" matTooltip="GVR Logo"></mat-icon>
    </button>
    <span style="padding-left: 12px">Chitti Management System</span>
    <span class="toolbar-item-spacer"></span>
    <!-- <button mat-icon-button matTooltip="Like">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Share">
        <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Notifications">
        <mat-icon>notifications</mat-icon>
    </button> -->
	<div class="account-icon">
		<button mat-icon-button (click)="toggleDarkMode()" matTooltip="DarkMode">
			<mat-icon>light_mode</mat-icon>
		  </button>
		  <button mat-icon-button matTooltip="Share" >
			<mat-icon>share</mat-icon>
		</button>
		  <button mat-icon-button matTooltip="Notifications" [matMenuTriggerFor]="notificationsMenu">
			<mat-icon>notifications</mat-icon>
		</button>
			<mat-menu #notificationsMenu [overlapTrigger]="false" yPosition="below">
				<div class="notificationBar" *ngFor="let note of notificationMsgs; let i = index">
					{{i + 1}}.{{note.text}} <span style="font-size: 10px;float: right;margin-right: 15px;">{{note.date | date:'dd MMM, HH:mm'}}</span>
					<hr style="width: 90%;">
				</div>
			</mat-menu>
        <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
            <mat-icon style="background-image: url('../../../assets/image/icons8-male-user-48.png');  background-repeat: no-repeat;
			 background-position: left;background-size: 37px; padding-left: 10px;padding-top: 10px;"></mat-icon>
        </button>
		
    </div>
    <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
        <button mat-menu-item routerLink="#">
            <mat-icon>person</mat-icon><span>{{userName}}</span>
        </button>
        <button mat-menu-item routerLink="#">
            <mat-icon>settings</mat-icon><span>Settings</span>
        </button>
        <button mat-menu-item routerLink="#">
            <mat-icon>help</mat-icon><span>Help</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>Logout
        </button>
    </mat-menu>
</mat-toolbar>
  <mat-sidenav-container  class="example-sidenav" autosize class="example-container" [ngClass]="{'dark-mode': isDarkMode}">
	<mat-sidenav #sidenav class="example-sidenav" mode="side"  opened="true" (mouseenter)="mouseenter()" class="example-sidenav" fxHide.lt-md
	  (mouseleave)="mouseleave()">
	  <button mat-icon-button (click)="isExpanded = !isExpanded" *ngIf="isExpanded || isShowing" style="float: right;">
		<mat-icon style="color:black;font-size: 2rem;">menu</mat-icon>
	  </button>
	  <mat-nav-list *ngIf="adminLogin">
		<mat-list-item routerLink="/master-chitti-list">
			<mat-icon style="background-image: url('../../../assets/image/icons8-home-32.png'); 
			background-repeat: no-repeat; background-position: left;background-size: 27px; padding-left: 
			10px;padding-top: 0px;" matTooltip="Master Chitti Details"></mat-icon>
			<span class="span-list-item" *ngIf="isExpanded || isShowing">Master Chitti Details</span>
		</mat-list-item>
	</mat-nav-list>
	<mat-nav-list *ngIf="adminLogin">
		<mat-list-item routerLink="/customer-list">
			<mat-icon style="background-image: url('../../../assets/image/icons8-person-48\ \(1\).png');
			background-repeat: no-repeat; background-position: left;background-size: 27px; padding-left: 
			10px;padding-top: 0px;" matTooltip="Coustmer Registration"></mat-icon>
			<span class="span-list-item" *ngIf="isExpanded || isShowing">Coustmer Registration</span>
		</mat-list-item>
	</mat-nav-list>
	<mat-nav-list *ngIf="adminLogin">
		<mat-list-item routerLink="/customer-payment-list">
			<mat-icon style="background-image: url('../../../assets/image/icons8-money-48.png');
			background-repeat: no-repeat; background-position: left;background-size: 27px; padding-left: 
			10px;padding-top: 0px;" matTooltip="Chitti PaymentDetails"></mat-icon>
			<span class="span-list-item" *ngIf="isExpanded || isShowing">Chitti Payment Details</span>
		</mat-list-item>
	</mat-nav-list>
	<mat-nav-list *ngIf="adminLogin">
		<mat-list-item routerLink="">
			<mat-icon style="background-image: url('../../../assets/image/icons8-folder-48.png');
			background-repeat: no-repeat; background-position: left;background-size: 27px; padding-left: 
			10px;padding-top: 0px;" matTooltip="Primum Details"></mat-icon>
			<span class="span-list-item" *ngIf="isExpanded || isShowing">Primum Details</span>
		</mat-list-item>
	</mat-nav-list>
	<mat-nav-list *ngIf="adminLogin">
		<mat-list-item routerLink="">
			<mat-icon style="background-image: url('../../../assets/image/icons8-person-48\ \(1\).png');
			background-repeat: no-repeat; background-position: left;background-size: 27px; padding-left: 
			10px;padding-top: 0px;" matTooltip="Chitti Lifiting Details"></mat-icon>
			<span class="span-list-item" *ngIf="isExpanded || isShowing">Chitti Lifiting Details</span>
		</mat-list-item>
	</mat-nav-list>
	<mat-nav-list *ngIf="adminLogin">
		<mat-list-item routerLink="">
			<mat-icon style="background-image: url('../../../assets/image/icons8-person-48\ \(1\).png');
			background-repeat: no-repeat; background-position: left;background-size: 27px; padding-left: 
			10px;padding-top: 0px;" matTooltip="Bid Details"></mat-icon>
			<span class="span-list-item" *ngIf="isExpanded || isShowing">Bid Details</span>
		</mat-list-item>
	</mat-nav-list>
	<mat-nav-list *ngIf="userLogin">
		<mat-list-item routerLink="/my-chits">
			<mat-icon style="background-image: url('../../../assets/image/icons8-person-48\ \(1\).png');
			background-repeat: no-repeat; background-position: left;background-size: 27px; padding-left: 
			10px;padding-top: 0px;" matTooltip="Bid Details"></mat-icon>
			<span class="span-list-item" *ngIf="isExpanded || isShowing">My chits</span>
		</mat-list-item>
	</mat-nav-list>
	
	<mat-nav-list *ngIf="userLogin">
		<mat-list-item routerLink="/fggdf">
			<mat-icon style="background-image: url('../../../assets/image/icons8-home-32.png'); 
			background-repeat: no-repeat; background-position: left;background-size: 27px; padding-left: 
			10px;padding-top: 0px;" matTooltip="Master Chitti Details"></mat-icon>
			<span class="span-list-item" *ngIf="isExpanded || isShowing">Previous payment details</span>
		</mat-list-item>
	</mat-nav-list>
	<mat-nav-list *ngIf="userLogin">
		<mat-list-item routerLink="/fggdf">
			<mat-icon style="background-image: url('../../../assets/image/icons8-home-32.png'); 
			background-repeat: no-repeat; background-position: left;background-size: 27px; padding-left: 
			10px;padding-top: 0px;" matTooltip="Master Chitti Details"></mat-icon>
			<span class="span-list-item" *ngIf="isExpanded || isShowing">Pay Now</span>
		</mat-list-item>
	</mat-nav-list>
	<mat-nav-list *ngIf="userLogin">
		<mat-list-item routerLink="/my-profile">
			<mat-icon style="background-image: url('../../../assets/image/icons8-home-32.png'); 
			background-repeat: no-repeat; background-position: left;background-size: 27px; padding-left: 
			10px;padding-top: 0px;" matTooltip="Master Chitti Details"></mat-icon>
			<span class="span-list-item" *ngIf="isExpanded || isShowing">Profile</span>
		</mat-list-item>
	</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content class="content-container" [ngClass]="{'dark-mode': isDarkMode}">
	   <router-outlet></router-outlet>
	</mat-sidenav-content>
  </mat-sidenav-container>
  