
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<mat-card class="matcard-bg-color">
    <mat-dialog-actions align="end">
        <button mat-icon-button [mat-dialog-close]="true" >
          <mat-icon color="warn" >close</mat-icon>
        </button>
      </mat-dialog-actions>
      <span class="font-style" style="margin: 15px;margin-top: 18px;">Customer Registration</span>
      <mat-card style="margin: 20px;margin-top: 2px;" class="mat-card-bgs">
      <!-- <div  fxLayout.xs="row" fxLayoutGap="1rem" style="margin-left: 36px;margin-top: 20px;">
        <div fxLayout="row" fxFlex="100" fxLayout.xs="column" fxLayoutGap="0px" >
            <mat-form-field fxFlex="50" class="example-form-field" appearance="outline" >
                <mat-label>Chitti Type</mat-label>
                    <mat-select value="value" class="mat-option-style-select"  value="value">
                        <mat-option class="mat-option-style">Select</mat-option>
                        <mat-option class="mat-option-style" value="CompanyChitti">Company Chitti</mat-option>
                        <mat-option class="mat-option-style" value="FixedChitti">Fixed Chitti</mat-option>
                        <mat-option class="mat-option-style" value="DividendChitti">Dividend Chitti</mat-option>
                    </mat-select>
            </mat-form-field>
        </div>
    </div> -->


      <mat-card style="margin: 1rem;" class="mat-card-bgs" >
            <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1rem" style="margin-top: 0.5rem;margin: 1rem;" >
                <mat-form-field fxFlex="30" class="example-form-field" appearance="outline">
                    <mat-label>Customer Name</mat-label>
                    <input matInput  type="text" class="input-typing-style"
                        placeholder="Please Enter Customer Name">
                </mat-form-field>

                <mat-form-field fxFlex="30" class="example-form-field" appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input matInput  type="text" class="input-typing-style"
                        placeholder="Please Enter Phone Number">
                </mat-form-field>

                <mat-form-field fxFlex="30" class="example-form-field" appearance="outline">
                    <mat-label>EmailId</mat-label>
                    <input matInput  type="text" class="input-typing-style"
                        placeholder="Please Enter EmailId">
                </mat-form-field>

                <mat-form-field fxFlex="30" class="example-form-field" appearance="outline">
                    <mat-label>Password</mat-label>       
                    <input matInput  type="text" class="input-typing-style"
                        placeholder="Please Enter Password">
                        <mat-icon matSuffix style="cursor: pointer;" (click)="toggleShowPassword()">
                            {{!showPassword?'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                

                <mat-form-field fxFlex="30" class="example-form-field" appearance="outline">
                    <mat-label>DOB</mat-label>
                    
                    <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY">
                    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                <mat-form-field fxFlex="30" class="example-form-field" appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select value="value" class="mat-option-style-select"  value="value" placeholder="Please select Gender">
                        <mat-option class="mat-option-style">Select</mat-option>
                        <mat-option class="mat-option-style" value="Male">Male</mat-option>
                        <mat-option class="mat-option-style" value="Female">Female</mat-option>
                        <mat-option class="mat-option-style" value="Others">Others</mat-option>
                    </mat-select>
           
                </mat-form-field>

                <mat-form-field fxFlex="30" class="example-form-field" appearance="outline">
                    <mat-label>Aadhar</mat-label>
                    <input matInput  type="text" class="input-typing-style"
                        placeholder="Please Enter Aadhar">
                </mat-form-field>

                <mat-form-field fxFlex="30" class="example-form-field" appearance="outline">
                    <mat-label>PAN</mat-label>
                    <input matInput  type="text" class="input-typing-style"
                        placeholder="Please Enter PAN">
                </mat-form-field>

                <mat-form-field fxFlex="30" class="example-form-field" appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput  type="text" class="input-typing-style"
                        placeholder="Please Enter Address">
                </mat-form-field>

                        <mat-form-field fxFlex="30" class="example-form-field" appearance="outline" >
                            <mat-label>Chitti Type</mat-label>
                                <mat-select value="value" class="mat-option-style-select"  value="value" placeholder="Please select Chitti Type">
                                    <mat-option class="mat-option-style">Select</mat-option>
                                    <mat-option class="mat-option-style" value="CompanyChitti">Company Chitti</mat-option>
                                    <mat-option class="mat-option-style" value="FixedChitti">Fixed Chitti</mat-option>
                                    <mat-option class="mat-option-style" value="DividendChitti">Dividend Chitti</mat-option>
                                </mat-select>
                        </mat-form-field>
                  

                <mat-form-field fxFlex="30" class="example-form-field" appearance="outline">
                    <mat-label>Chitti Name</mat-label>
                    <input matInput  type="text" class="input-typing-style" 
                        placeholder="Please Enter Chitti Name">
                </mat-form-field>
               
               
                
              
            </div>
            <!-- <div align="center" *ngIf="submit" style="margin: 0 0 1rem;">
                <button mat-raised-button class="btn-primary" >Submit </button>
              </div> -->
      </mat-card>
    </mat-card>
</mat-card>

